# Python bytecode
__pycache__/
*.py[cod]

# Build / packaging
build/
dist/
*.egg-info/

# Runtime output written by tmm (save, save2sheet, plot)
Treatments/
*.h5
*.hdf5
*.xlsx
*.mat
*.zip

# Jupyter
.ipynb_checkpoints/
